.ball {
    border-radius: 50%;
    background-color: black;
    width: 100px;
    height: 100px;
    animation: jump 0.9s cubic-bezier(.64,.01,.73,.42) infinite alternate;
    position: absolute;
}

.shadow {
    background-color: black;
    width: 100px;
    height: 25px;
    border-radius: 50%;
    filter: blur(10px);
    position: absolute;
    top: 430px;
    left: 1px;
    transform: translateY(410px);
    animation: shadow 0.9s cubic-bezier(.64,.01,.73,.42) infinite alternate;
}

@keyframes jump {
    0% {
        width: 100px;
        height: 100px;
    }

    50% {
        width: 50px;
        height: 150px;
        transform: translateY(200px);
    }

    60% {
        width: 100px;
        height: 100px;
        transform: translateY(340px);
    }

    70% {
        width: 100px;
        height: 80px;
        transform: translateY(350px);
    }

    80% {
        width: 100px;
        height: 70px;
        transform: translateY(360px);
    }

    90% {
        width: 100px;
        height: 60px;
        transform: translateY(380px);
    }
    
    100% {
        width: 100px;
        height: 50px;
        transform: translateY(410px);
    }
}


@keyframes shadow {
    0% {
        transform: translateY(410px);
        transform: scaleX(0.5);
    }
    50% {
        transform: translateY(410px);
        transform: scaleX(0.7);
    }
    100% {
        transform: translateY(410px);
        transform: scaleX(1);
    }
}