body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
    margin: 0;
}

.clock {
    width: 300px;
    height: 300px;
    border: 5px solid #008080;
    border-radius: 50%;
    position: relative;
    background: #ffffff;
}

.hand {
    position: absolute;
    bottom: 50%;
    left: 50%;
    background-color: #008080;
    transform-origin: bottom;
    border-radius: 4px;
}

.hour {
    width: 6px;
    height: 60px;
    margin-left: -3px;
    animation: rotate-clock 12s linear infinite;
}

.minute {
    width: 4px;
    height: 90px;
    margin-left: -2px;
    animation: rotate-clock 2s linear infinite;
}

.center-dot {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
    background-color: #008080;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

@keyframes rotate-clock {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}